<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @race.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @race.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @race.end_time %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
